@import "tailwindcss";

:root {
  --color-brand-dark: #153836;
  --color-brand-primary: #00989F;
  --color-brand-light: #00A3A9;
  --color-brand-bg: #F8FAFC;
}

body {
  background-color: var(--color-brand-bg);
}