APP_NAME="Hospital API - Equipe 1"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# ─── Banco de dados ────────────────────────────────────────────────────────────
DB_CONNECTION=mysql
DB_HOST=autorack.proxy.rlwy.net
DB_PORT=32908
DB_DATABASE=hospital
DB_USERNAME=equipe1
DB_PASSWORD=EquipeLogJWT

# ─── JWT ───────────────────────────────────────────────────────────────────────
JWT_SECRET=                         # gerado via: php artisan jwt:secret
JWT_TTL=1440                        # tempo de expiração em minutos (1440 = 1 dia)
JWT_REFRESH_TTL=20160               # tempo para refresh em minutos (14 dias)
JWT_ALGO=HS256

# ─── E-mail (para envio de senha de primeiro acesso) ───────────────────────────
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@hospital.ifsc.edu.br
MAIL_FROM_NAME="Sistema Hospitalar IFSC"

# ─── Swagger ───────────────────────────────────────────────────────────────────
L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_BASE_PATH=/api
